{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Orbipay-Checkout APIs",
        "description": "API specification to use the Orbipay-Checkout APIs. This documentation covers the Customer Management, Payment Management and Account Management related APIs. ",
        "contact": {
            "name": "Orbipay-Checkout Team",
            "email": "orbipay.checkout@alacriti.com"
        },
        "license": {
            "name": "© Alacriti Inc",
            "url": "http://www.alacriti.com/"
        }
    },
    "tags": [
        {
            "name": "Customer",
            "description": "This section outlines the APIs required to exchange and manage customer information, such as create Customer details."
        },
        {
            "name": "Payment",
            "description": "This section outlines the APIs used to capture and manage charges."
        },
        {
            "name": "Funding Account",
            "description": "This section outlines the APIs used to manage funding accounts.A Funding Account is always associated with a Customer. A Customer can have more than one Funding Account linked to their profile.Orbipay Checkout supports the use of the following bank and card accounts: <table border=\"0\"><tr><td><B>Bank</B></td><td><B>Credit Card</B></td><td><B>Debit Card</B></td></tr><tr><td>Savings Account</td><td>Visa</td><td>Visa</td></tr><tr><td>Current Account</td><td>Mastercard</td><td>Mastercard</td></tr><tr><td>Money Market Account</td><td>American Express</td><td></td></tr><tr><td></td><td>Discover</td><td></td></tr></table> "
        },
        {
            "name": "Merchant Account",
            "description": "This section outlines the APIs required to manage merchant accounts."
        }
    ],
    "host": "www.orbipay.com",
    "basePath": "/app/opco/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "security": [
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/service/customers": {
            "parameters": [
                {
                    "name": "client_id",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "pattern": "[a-z0-9]{0,50}",
                    "minLength": 0,
                    "maxLength": 50,
                    "description": "Unique client Identifier, for example  cli_example5852kw555"
                },
                {
                    "name": "source_type",
                    "in": "header",
                    "required": true,
                    "type": "string",
                    "description": "token- Using Token. direct- Directly from request data"
                }
            ],
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create Customer",
                "description": "The Create Customer API is used to register a customer in OrbiPay Checkout.",
                "operationId": "Create Customer",
                "parameters": [
                    {
                        "name": "create_customer_request",
                        "in": "body",
                        "description": "This JSON contains all the attributes of customer to be created.",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "customer",
                                "funding_account"
                            ],
                            "properties": {
                                "customer": {
                                    "type": "object",
                                    "required": [
                                        "email",
                                        "first_name"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier with checkout.",
                                            "example": "custexamplef5ptd555f"
                                        },
                                        "customer_id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9.@_-]{0,100}",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "description": "Customer Id is a unique identifier in the client system for customer.",
                                            "example": "user_3746ythcfhd88609"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Smith"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "pattern": "^[_A-Za-z0-9-\\\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
                                            "example": "willsmith@example.com"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "1541754301"
                                        },
                                        "address": {
                                            "type": "object",
                                            "required": [
                                                "address_line1",
                                                "address_city",
                                                "address_state",
                                                "address_country",
                                                "address_zip1"
                                            ],
                                            "properties": {
                                                "address_line1": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "Alacriti Inc."
                                                },
                                                "address_line2": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "1551 South Washington Ave, Suite 130"
                                                },
                                                "address_city": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]",
                                                    "minLength": 0,
                                                    "example": "Manhattan"
                                                },
                                                "address_state": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]{0,20}",
                                                    "minLength": 0,
                                                    "maxLength": 20,
                                                    "example": "NY"
                                                },
                                                "address_country": {
                                                    "type": "string",
                                                    "pattern": "[a-z]{3}",
                                                    "minLength": 3,
                                                    "maxLength": 3,
                                                    "description": "The 3 digit ISO country code.",
                                                    "example": "USA"
                                                },
                                                "address_zip1": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{5}",
                                                    "minLength": 5,
                                                    "maxLength": 5,
                                                    "example": "20521"
                                                },
                                                "address_zip2": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{4}",
                                                    "minLength": 4,
                                                    "maxLength": 4,
                                                    "example": "9000"
                                                }
                                            }
                                        }
                                    }
                                },
                                "funding_account": {
                                    "type": "object",
                                    "required": [
                                        "account_number",
                                        "currency_code3d"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9_]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier assigned to the account in OrbiPay-Checkout system.",
                                            "example": "act_exmaple5l595g5vm"
                                        },
                                        "aba_routing_number": {
                                            "type": "string",
                                            "minLength": 0,
                                            "maxLength": 9,
                                            "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                            "example": "031201360"
                                        },
                                        "account_issuing_institution_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9,]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "TD BANK, NA"
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,34}",
                                            "minLength": 0,
                                            "maxLength": 34,
                                            "description": "Account Number field is expected to be a unique field for the accounts in client system.",
                                            "example": "4124939999999990"
                                        },
                                        "currency_code3d": {
                                            "type": "string",
                                            "pattern": "[a-z]{3}",
                                            "minLength": 3,
                                            "maxLength": 3,
                                            "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                            "example": "USD"
                                        },
                                        "account_type": {
                                            "type": "string",
                                            "enum": [
                                                "bank",
                                                "card"
                                            ],
                                            "description": "Account Type indicates the type of a funding account.",
                                            "example": "card"
                                        },
                                        "account_subtype": {
                                            "type": "string",
                                            "enum": [
                                                "savings",
                                                "checking",
                                                "money_market",
                                                "visa_credit",
                                                "mastercard_credit",
                                                "american_express_credit",
                                                "discover_credit",
                                                "visa_debit",
                                                "mastercard_debit",
                                                "discover_debit"
                                            ],
                                            "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                            "example": "visa_credit"
                                        },
                                        "expiry_date": {
                                            "type": "string",
                                            "pattern": "[0-9/]{5,7}",
                                            "minLength": 5,
                                            "maxLength": 7,
                                            "description": "Expiry date of the account is of format mm/yy",
                                            "example": "11/29"
                                        },
                                        "card_cvv_number": {
                                            "type": "string",
                                            "pattern": "[0-9]{3,4}",
                                            "minLength": 3,
                                            "maxLength": 4,
                                            "description": "Card CVV/CVV2 number is conditional and needs to be passed when adding or editing a Card as a funding account.",
                                            "example": "123"
                                        },
                                        "account_holder_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will Smith"
                                        },
                                        "address": {
                                            "type": "object",
                                            "required": [
                                                "address_line1",
                                                "address_city",
                                                "address_state",
                                                "address_country",
                                                "address_zip1"
                                            ],
                                            "properties": {
                                                "address_line1": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "Alacriti Inc."
                                                },
                                                "address_line2": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "1551 South Washington Ave, Suite 130"
                                                },
                                                "address_city": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]",
                                                    "minLength": 0,
                                                    "example": "Manhattan"
                                                },
                                                "address_state": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]{0,20}",
                                                    "minLength": 0,
                                                    "maxLength": 20,
                                                    "example": "NY"
                                                },
                                                "address_country": {
                                                    "type": "string",
                                                    "pattern": "[a-z]{3}",
                                                    "minLength": 3,
                                                    "maxLength": 3,
                                                    "description": "The 3 digit ISO country code.",
                                                    "example": "USA"
                                                },
                                                "address_zip1": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{5}",
                                                    "minLength": 5,
                                                    "maxLength": 5,
                                                    "example": "20521"
                                                },
                                                "address_zip2": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{4}",
                                                    "minLength": 4,
                                                    "maxLength": 4,
                                                    "example": "9000"
                                                }
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Create Customer API is populated with the External Identifiers issued by OrbiPay-Checkout system for the customer and the account(s).",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "customer": {
                                    "type": "object",
                                    "required": [
                                        "email",
                                        "first_name"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier with checkout.",
                                            "example": "custexamplef5ptd555f"
                                        },
                                        "customer_id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9.@_-]{0,100}",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "description": "Customer Id is a unique identifier in the client system for customer.",
                                            "example": "user_3746ythcfhd88609"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Smith"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "pattern": "^[_A-Za-z0-9-\\\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
                                            "example": "willsmith@example.com"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "1541754301"
                                        },
                                        "address": {
                                            "type": "object",
                                            "required": [
                                                "address_line1",
                                                "address_city",
                                                "address_state",
                                                "address_country",
                                                "address_zip1"
                                            ],
                                            "properties": {
                                                "address_line1": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "Alacriti Inc."
                                                },
                                                "address_line2": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "1551 South Washington Ave, Suite 130"
                                                },
                                                "address_city": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]",
                                                    "minLength": 0,
                                                    "example": "Manhattan"
                                                },
                                                "address_state": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]{0,20}",
                                                    "minLength": 0,
                                                    "maxLength": 20,
                                                    "example": "NY"
                                                },
                                                "address_country": {
                                                    "type": "string",
                                                    "pattern": "[a-z]{3}",
                                                    "minLength": 3,
                                                    "maxLength": 3,
                                                    "description": "The 3 digit ISO country code.",
                                                    "example": "USA"
                                                },
                                                "address_zip1": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{5}",
                                                    "minLength": 5,
                                                    "maxLength": 5,
                                                    "example": "20521"
                                                },
                                                "address_zip2": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{4}",
                                                    "minLength": 4,
                                                    "maxLength": 4,
                                                    "example": "9000"
                                                }
                                            }
                                        }
                                    }
                                },
                                "funding_account": {
                                    "type": "object",
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9_]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier assigned to the account in OrbiPay-Checkout system.",
                                            "example": "act_exmaple5l595g5vm"
                                        },
                                        "aba_routing_number": {
                                            "type": "string",
                                            "minLength": 0,
                                            "maxLength": 9,
                                            "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                            "example": "031201360"
                                        },
                                        "account_issuing_institution_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9,]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "TD BANK, NA"
                                        },
                                        "account_number": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,34}",
                                            "minLength": 0,
                                            "maxLength": 34,
                                            "description": "Account Number field is expected to be a unique field for the accounts in client system.",
                                            "example": "4124939999999990"
                                        },
                                        "currency_code3d": {
                                            "type": "string",
                                            "pattern": "[a-z]{3,3}",
                                            "minLength": 3,
                                            "maxLength": 3,
                                            "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                            "example": "USD"
                                        },
                                        "account_type": {
                                            "type": "string",
                                            "enum": [
                                                "bank",
                                                "card"
                                            ],
                                            "description": "Account Type indicates the type of a funding account.",
                                            "example": "card"
                                        },
                                        "account_subtype": {
                                            "type": "string",
                                            "enum": [
                                                "savings",
                                                "checking",
                                                "money_market",
                                                "visa_credit",
                                                "mastercard_credit",
                                                "american_express_credit",
                                                "discover_credit",
                                                "visa_debit",
                                                "mastercard_debit",
                                                "discover_debit"
                                            ],
                                            "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                            "example": "visa_credit"
                                        },
                                        "expiry_date": {
                                            "type": "string",
                                            "pattern": "[0-9/]{5,7}",
                                            "minLength": 5,
                                            "maxLength": 7,
                                            "description": "Expiry date of the account is of format mm/yy",
                                            "example": "11/29"
                                        },
                                        "account_holder_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will Smith"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Checkout Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            },
                            "example": {
                                "code": "error_field",
                                "message": "The request contains a field with invalid value.",
                                "field": "client_id"
                            }
                        }
                    }
                }
            }
        },
        "/service/customers/{ID_CUSTOMER}/funding-account/retrieve": {
            "post": {
                "tags": [
                    "Funding Account"
                ],
                "summary": "Retrieve Customer's Funding Accounts",
                "description": "This API is used to retrieve a list of funding accounts associated with a customer. The number of funding accounts retrieved can be modified using the initial_records request parameter. The ID_CUSTOMER  is issued by OrbiPay Checkout system.",
                "operationId": "Retrieve Funding Accounts",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique client Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "CustomerId of the customer in context, for example custexamplef5ptd555f"
                    },
                    {
                        "name": "initial_records",
                        "in": "query",
                        "type": "string",
                        "pattern": "[0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "initial count of records to be retrieved, for example 10"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Retrieve Customer's Funding Accounts API is populated with the list funding accounts of a customer.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "customer": {
                                    "type": "object",
                                    "required": [
                                        "email",
                                        "first_name"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier with checkout.",
                                            "example": "custexamplef5ptd555f"
                                        },
                                        "customer_id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9.@_-]{0,100}",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "description": "Customer Id is a unique identifier in the client system for customer.",
                                            "example": "user_3746ythcfhd88609"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Smith"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "pattern": "^[_A-Za-z0-9-\\\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
                                            "example": "willsmith@example.com"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "1541754301"
                                        },
                                        "address": {
                                            "type": "object",
                                            "required": [
                                                "address_line1",
                                                "address_city",
                                                "address_state",
                                                "address_country",
                                                "address_zip1"
                                            ],
                                            "properties": {
                                                "address_line1": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "Alacriti Inc."
                                                },
                                                "address_line2": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "1551 South Washington Ave, Suite 130"
                                                },
                                                "address_city": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]",
                                                    "minLength": 0,
                                                    "example": "Manhattan"
                                                },
                                                "address_state": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]{0,20}",
                                                    "minLength": 0,
                                                    "maxLength": 20,
                                                    "example": "NY"
                                                },
                                                "address_country": {
                                                    "type": "string",
                                                    "pattern": "[a-z]{3}",
                                                    "minLength": 3,
                                                    "maxLength": 3,
                                                    "description": "The 3 digit ISO country code.",
                                                    "example": "USA"
                                                },
                                                "address_zip1": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{5}",
                                                    "minLength": 5,
                                                    "maxLength": 5,
                                                    "example": "20521"
                                                },
                                                "address_zip2": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{4}",
                                                    "minLength": 4,
                                                    "maxLength": 4,
                                                    "example": "9000"
                                                }
                                            }
                                        }
                                    }
                                },
                                "funding_account_list": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "account_number",
                                            "currency_code3d"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "pattern": "[a-z0-9_]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "description": "Id is a unique identifier assigned to the account in OrbiPay-Checkout system.",
                                                "example": "act_exmaple5l595g5vm"
                                            },
                                            "aba_routing_number": {
                                                "type": "string",
                                                "minLength": 0,
                                                "maxLength": 9,
                                                "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                                "example": "031201360"
                                            },
                                            "account_issuing_institution_name": {
                                                "type": "string",
                                                "pattern": "[a-z0-9,]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "example": "TD BANK, NA"
                                            },
                                            "account_number": {
                                                "type": "string",
                                                "pattern": "[a-z0-9]{0,34}",
                                                "minLength": 0,
                                                "maxLength": 34,
                                                "description": "Account Number field is expected to be a unique field for the accounts in client system.",
                                                "example": "4124939999999990"
                                            },
                                            "currency_code3d": {
                                                "type": "string",
                                                "pattern": "[a-z]{3}",
                                                "minLength": 3,
                                                "maxLength": 3,
                                                "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                                "example": "USD"
                                            },
                                            "account_type": {
                                                "type": "string",
                                                "enum": [
                                                    "bank",
                                                    "card"
                                                ],
                                                "description": "Account Type indicates the type of a funding account.",
                                                "example": "card"
                                            },
                                            "account_subtype": {
                                                "type": "string",
                                                "enum": [
                                                    "savings",
                                                    "checking",
                                                    "money_market",
                                                    "visa_credit",
                                                    "mastercard_credit",
                                                    "american_express_credit",
                                                    "discover_credit",
                                                    "visa_debit",
                                                    "mastercard_debit",
                                                    "discover_debit"
                                                ],
                                                "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                                "example": "visa_credit"
                                            },
                                            "expiry_date": {
                                                "type": "string",
                                                "pattern": "[0-9/]{5,7}",
                                                "minLength": 5,
                                                "maxLength": 7,
                                                "description": "Expiry date of the account is of format mm/yy",
                                                "example": "11/29"
                                            },
                                            "card_cvv_number": {
                                                "type": "string",
                                                "pattern": "[0-9]{3,4}",
                                                "minLength": 3,
                                                "maxLength": 4,
                                                "description": "Card CVV/CVV2 number is conditional and needs to be passed when adding or editing a Card as a funding account.",
                                                "example": "123"
                                            },
                                            "account_holder_name": {
                                                "type": "string",
                                                "pattern": "[a-z0-9]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "example": "Will Smith"
                                            },
                                            "address": {
                                                "type": "object",
                                                "required": [
                                                    "address_line1",
                                                    "address_city",
                                                    "address_state",
                                                    "address_country",
                                                    "address_zip1"
                                                ],
                                                "properties": {
                                                    "address_line1": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9,.]{0,50}",
                                                        "minLength": 0,
                                                        "maxLength": 50,
                                                        "example": "Alacriti Inc."
                                                    },
                                                    "address_line2": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9,.]{0,50}",
                                                        "minLength": 0,
                                                        "maxLength": 50,
                                                        "example": "1551 South Washington Ave, Suite 130"
                                                    },
                                                    "address_city": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9]",
                                                        "minLength": 0,
                                                        "example": "Manhattan"
                                                    },
                                                    "address_state": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9]{0,20}",
                                                        "minLength": 0,
                                                        "maxLength": 20,
                                                        "example": "NY"
                                                    },
                                                    "address_country": {
                                                        "type": "string",
                                                        "pattern": "[a-z]{3}",
                                                        "minLength": 3,
                                                        "maxLength": 3,
                                                        "description": "The 3 digit ISO country code.",
                                                        "example": "USA"
                                                    },
                                                    "address_zip1": {
                                                        "type": "string",
                                                        "pattern": "[0-9]{5}",
                                                        "minLength": 5,
                                                        "maxLength": 5,
                                                        "example": "20521"
                                                    },
                                                    "address_zip2": {
                                                        "type": "string",
                                                        "pattern": "[0-9]{4}",
                                                        "minLength": 4,
                                                        "maxLength": 4,
                                                        "example": "9000"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "total_results_count": {
                                    "type": "number",
                                    "description": "total number of customers available with matching criteria",
                                    "example": "100"
                                },
                                "has_more_results": {
                                    "type": "string",
                                    "description": "is true if there are more results or pages",
                                    "example": "true"
                                },
                                "query_id": {
                                    "type": "string",
                                    "description": "used for retreiving previous and next pages",
                                    "example": "10"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Checkout Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            },
                            "example": {
                                "code": "error_field",
                                "message": "The request contains a field with invalid value.",
                                "field": "client_id"
                            }
                        }
                    }
                }
            },
            "get": {
                "tags": [
                    "Funding Account"
                ],
                "summary": "Get Customer's Funding Accounts Page",
                "description": "This API is used to retrieve and display customer funding account information with pagination.",
                "operationId": "Get Funding Accounts",
                "parameters": [
                    {
                        "name": "client_id",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique client Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "CustomerId of the customer in context, for example custexamplef5ptd555f"
                    },
                    {
                        "name": "query_id",
                        "in": "query",
                        "type": "string",
                        "pattern": "[0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "query id of the result in the context, for example 15"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "type": "string",
                        "pattern": "[0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "starting id of the result in the context, for example 11"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "type": "string",
                        "pattern": "[0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "starting id of the result in the context, for example 20"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Get Customer's Funding Accounts API is populated with the list funding accounts of a customer for the query.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "customer": {
                                    "type": "object",
                                    "required": [
                                        "email",
                                        "first_name"
                                    ],
                                    "properties": {
                                        "id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "description": "Id is a unique identifier with checkout.",
                                            "example": "custexamplef5ptd555f"
                                        },
                                        "customer_id": {
                                            "type": "string",
                                            "pattern": "[a-z0-9.@_-]{0,100}",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "description": "Customer Id is a unique identifier in the client system for customer.",
                                            "example": "user_3746ythcfhd88609"
                                        },
                                        "first_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Will"
                                        },
                                        "last_name": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50,
                                            "example": "Smith"
                                        },
                                        "email": {
                                            "type": "string",
                                            "format": "email",
                                            "minLength": 0,
                                            "maxLength": 100,
                                            "pattern": "^[_A-Za-z0-9-\\\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$",
                                            "example": "willsmith@example.com"
                                        },
                                        "phone_number": {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "1541754301"
                                        },
                                        "address": {
                                            "type": "object",
                                            "required": [
                                                "address_line1",
                                                "address_city",
                                                "address_state",
                                                "address_country",
                                                "address_zip1"
                                            ],
                                            "properties": {
                                                "address_line1": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "Alacriti Inc."
                                                },
                                                "address_line2": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9,.]{0,50}",
                                                    "minLength": 0,
                                                    "maxLength": 50,
                                                    "example": "1551 South Washington Ave, Suite 130"
                                                },
                                                "address_city": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]",
                                                    "minLength": 0,
                                                    "example": "Manhattan"
                                                },
                                                "address_state": {
                                                    "type": "string",
                                                    "pattern": "[a-z0-9]{0,20}",
                                                    "minLength": 0,
                                                    "maxLength": 20,
                                                    "example": "NY"
                                                },
                                                "address_country": {
                                                    "type": "string",
                                                    "pattern": "[a-z]{3}",
                                                    "minLength": 3,
                                                    "maxLength": 3,
                                                    "description": "The 3 digit ISO country code.",
                                                    "example": "USA"
                                                },
                                                "address_zip1": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{5}",
                                                    "minLength": 5,
                                                    "maxLength": 5,
                                                    "example": "20521"
                                                },
                                                "address_zip2": {
                                                    "type": "string",
                                                    "pattern": "[0-9]{4}",
                                                    "minLength": 4,
                                                    "maxLength": 4,
                                                    "example": "9000"
                                                }
                                            }
                                        }
                                    }
                                },
                                "funding_account_list": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "account_number",
                                            "currency_code3d"
                                        ],
                                        "properties": {
                                            "id": {
                                                "type": "string",
                                                "pattern": "[a-z0-9_]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "description": "Id is a unique identifier assigned to the account in OrbiPay-Checkout system.",
                                                "example": "act_exmaple5l595g5vm"
                                            },
                                            "aba_routing_number": {
                                                "type": "string",
                                                "minLength": 0,
                                                "maxLength": 9,
                                                "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                                "example": "031201360"
                                            },
                                            "account_issuing_institution_name": {
                                                "type": "string",
                                                "pattern": "[a-z0-9,]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "example": "TD BANK, NA"
                                            },
                                            "account_number": {
                                                "type": "string",
                                                "pattern": "[a-z0-9]{0,34}",
                                                "minLength": 0,
                                                "maxLength": 34,
                                                "description": "Account Number field is expected to be a unique field for the accounts in client system.",
                                                "example": "4124939999999990"
                                            },
                                            "currency_code3d": {
                                                "type": "string",
                                                "pattern": "[a-z]{3}",
                                                "minLength": 3,
                                                "maxLength": 3,
                                                "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                                "example": "USD"
                                            },
                                            "account_type": {
                                                "type": "string",
                                                "enum": [
                                                    "bank",
                                                    "card"
                                                ],
                                                "description": "Account Type indicates the type of a funding account.",
                                                "example": "card"
                                            },
                                            "account_subtype": {
                                                "type": "string",
                                                "enum": [
                                                    "savings",
                                                    "checking",
                                                    "money_market",
                                                    "visa_credit",
                                                    "mastercard_credit",
                                                    "american_express_credit",
                                                    "discover_credit",
                                                    "visa_debit",
                                                    "mastercard_debit",
                                                    "discover_debit"
                                                ],
                                                "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                                "example": "visa_credit"
                                            },
                                            "expiry_date": {
                                                "type": "string",
                                                "pattern": "[0-9/]{5,7}",
                                                "minLength": 5,
                                                "maxLength": 7,
                                                "description": "Expiry date of the account is of format mm/yy",
                                                "example": "11/29"
                                            },
                                            "card_cvv_number": {
                                                "type": "string",
                                                "pattern": "[0-9]{3,4}",
                                                "minLength": 3,
                                                "maxLength": 4,
                                                "description": "Card CVV/CVV2 number is conditional and needs to be passed when adding or editing a Card as a funding account.",
                                                "example": "123"
                                            },
                                            "account_holder_name": {
                                                "type": "string",
                                                "pattern": "[a-z0-9]{0,50}",
                                                "minLength": 0,
                                                "maxLength": 50,
                                                "example": "Will Smith"
                                            },
                                            "address": {
                                                "type": "object",
                                                "required": [
                                                    "address_line1",
                                                    "address_city",
                                                    "address_state",
                                                    "address_country",
                                                    "address_zip1"
                                                ],
                                                "properties": {
                                                    "address_line1": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9,.]{0,50}",
                                                        "minLength": 0,
                                                        "maxLength": 50,
                                                        "example": "Alacriti Inc."
                                                    },
                                                    "address_line2": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9,.]{0,50}",
                                                        "minLength": 0,
                                                        "maxLength": 50,
                                                        "example": "1551 South Washington Ave, Suite 130"
                                                    },
                                                    "address_city": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9]",
                                                        "minLength": 0,
                                                        "example": "Manhattan"
                                                    },
                                                    "address_state": {
                                                        "type": "string",
                                                        "pattern": "[a-z0-9]{0,20}",
                                                        "minLength": 0,
                                                        "maxLength": 20,
                                                        "example": "NY"
                                                    },
                                                    "address_country": {
                                                        "type": "string",
                                                        "pattern": "[a-z]{3}",
                                                        "minLength": 3,
                                                        "maxLength": 3,
                                                        "description": "The 3 digit ISO country code.",
                                                        "example": "USA"
                                                    },
                                                    "address_zip1": {
                                                        "type": "string",
                                                        "pattern": "[0-9]{5}",
                                                        "minLength": 5,
                                                        "maxLength": 5,
                                                        "example": "20521"
                                                    },
                                                    "address_zip2": {
                                                        "type": "string",
                                                        "pattern": "[0-9]{4}",
                                                        "minLength": 4,
                                                        "maxLength": 4,
                                                        "example": "9000"
                                                    }
                                                }
                                            }
                                        }
                                    }
                                },
                                "total_results_count": {
                                    "type": "number",
                                    "description": "total number of customers available with matching criteria",
                                    "example": "100"
                                },
                                "has_more_results": {
                                    "type": "string",
                                    "description": "is true if there are more results or pages",
                                    "example": "true"
                                },
                                "query_id": {
                                    "type": "string",
                                    "description": "used for retreiving previous and next pages",
                                    "example": "10"
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Checkout Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        },
                                        "example": {
                                            "code": "error_field",
                                            "message": "The request contains a field with invalid value.",
                                            "field": "client_id"
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            },
                            "example": {
                                "code": "error_field",
                                "message": "The request contains a field with invalid value.",
                                "field": "client_id"
                            }
                        }
                    }
                }
            }
        },
        "/service/funding-account/{ID_FUNDING_ACCOUNT}": {
            "parameters": [
[...]
