{
    "swagger": "2.0",
    "info": {
        "version": "1.0.0",
        "title": "Orbipay Wallet APIs",
        "description": "API specification to use the Orbipay Wallet APIs. This documentation covers the wallet related APIs.\n",
        "contact": {
            "name": "Orbipay Team",
            "email": "support@billerpayments.com"
        },
        "license": {
            "name": "© Alacriti Inc",
            "url": "http://www.alacriti.com/"
        }
    },
    "tags": [
        {
            "name": "Customer",
            "description": "This section outlines the APIs required to exchange and manage customer information, such as create customer.\n"
        },
        {
            "name": "Bank Account",
            "description": "This section outlines the APIs required to enable customers to manage their bank accounts.\n"
        },
        {
            "name": "Card",
            "description": "This section outlines the APIs required to enable customers to manage their cards.\n"
        },
        {
            "name": "Transfer",
            "description": "This section outlines the APIs required to transer money to other wallet users and non-wallet users as well.\n"
        },
        {
            "name": "CashIn",
            "description": "This section outlines the APIs required to top up the wallet.\n"
        },
        {
            "name": "CashOut",
            "description": "This section outlines the APIs required to Cashout to their bank accounts.\n"
        },
        {
            "name": "Transaction",
            "description": "This section outlines the APIs required to get informations about the wallet transactions.\n"
        },
        {
            "name": "Wallet",
            "description": "This section outlines the APIs required to enable customers to manage their wallet.\n"
        }
    ],
    "host": "www.orbipay.com",
    "basePath": "/walletapi/v1",
    "schemes": [
        "https"
    ],
    "consumes": [
        "application/json"
    ],
    "produces": [
        "application/json"
    ],
    "paths": {
        "/customers": {
            "post": {
                "tags": [
                    "Customer"
                ],
                "summary": "Create Customer",
                "description": "The Create Customer API is used to register a customer with Orbipay  Wallet.",
                "operationId": "createCustomer",
                "parameters": [
                    {
                        "name": "customer",
                        "in": "body",
                        "description": "This JSON contains all the attributes of customer to be created.",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "first_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": " This field contains account holder’s first name and will be sent on all types of detail records."
                                },
                                "last_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s last name, and will appear on all types of detail records."
                                },
                                "middle_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s middle initial and will appear on all types of detail records."
                                },
                                "date_of_birth": {
                                    "description": "Date of Birth.  ISO8601 full-date format, YYYY-MM-DD",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "ISO8601 full-date format, YYYY-MM-DD"
                                        }
                                    ]
                                },
                                "government_issued_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Provide SSN in case of Customers from US."
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "This field contains the customer’s email address within the OrbiPay  walllet."
                                },
                                "phone_number": {
                                    "description": "Home phone number of the customer",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "(908) 791-2916"
                                        }
                                    ]
                                },
                                "social_account_id": {
                                    "type": "string",
                                    "description": "id provided by the social networking sites."
                                },
                                "register_login_id": {
                                    "type": "string",
                                    "description": "Email or phone number used for login."
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "name": "PARTNER_ID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,50}$",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique partner Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "SIGNATURE_KEY",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,64}$",
                        "minLength": 0,
                        "maxLength": 64,
                        "description": "Signature key used for authentication  cli_example5852kw555"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Create Customer API is populated with the customer id issued by OrbiPay-Wallet for the customer.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "first_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": " This field contains account holder’s first name and will be sent on all types of detail records."
                                },
                                "last_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s last name, and will appear on all types of detail records."
                                },
                                "middle_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s middle initial and will appear on all types of detail records."
                                },
                                "date_of_birth": {
                                    "description": "Date of Birth.  ISO8601 full-date format, YYYY-MM-DD",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "ISO8601 full-date format, YYYY-MM-DD"
                                        }
                                    ]
                                },
                                "government_issued_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Provide SSN in case of Customers from US."
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "This field contains the customer’s email address within the OrbiPay  walllet."
                                },
                                "phone_number": {
                                    "description": "Home phone number of the customer",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "(908) 791-2916"
                                        }
                                    ]
                                },
                                "social_account_id": {
                                    "type": "string",
                                    "description": "id provided by the social networking sites."
                                },
                                "register_login_id": {
                                    "type": "string",
                                    "description": "Email or phone number used for login."
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Wallet Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string",
                                    "example": "error_field"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customers/{ID_CUSTOMER}": {
            "get": {
                "tags": [
                    "Customer"
                ],
                "summary": "Get Customer",
                "description": "The Get Customer API is used to retrieve the details of the customer based on the id.",
                "operationId": "getCustomer",
                "parameters": [
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Id of the customer instance issued by orbipay wallet."
                    },
                    {
                        "name": "PARTNER_ID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,50}$",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique partner Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "SIGNATURE_KEY",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,64}$",
                        "minLength": 0,
                        "maxLength": 64,
                        "description": "Signature key used for authentication  cli_example5852kw555"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Get Customer API is populated with the customer details as customer object.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "first_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": " This field contains account holder’s first name and will be sent on all types of detail records."
                                },
                                "last_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s last name, and will appear on all types of detail records."
                                },
                                "middle_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s middle initial and will appear on all types of detail records."
                                },
                                "date_of_birth": {
                                    "description": "Date of Birth.  ISO8601 full-date format, YYYY-MM-DD",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "ISO8601 full-date format, YYYY-MM-DD"
                                        }
                                    ]
                                },
                                "government_issued_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Provide SSN in case of Customers from US."
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "This field contains the customer’s email address within the OrbiPay  walllet."
                                },
                                "phone_number": {
                                    "description": "Home phone number of the customer",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "(908) 791-2916"
                                        }
                                    ]
                                },
                                "social_account_id": {
                                    "type": "string",
                                    "description": "id provided by the social networking sites."
                                },
                                "register_login_id": {
                                    "type": "string",
                                    "description": "Email or phone number used for login."
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Wallet Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string",
                                    "example": "error_field"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            }
                        }
                    }
                }
            },
            "put": {
                "tags": [
                    "Customer"
                ],
                "summary": "Update Customer",
                "description": "The Update Customer API is used to edit the customer's personal informations or the customer's status. Only the information being updated needs to be populated in customer object sent in the request, along with the id of the customer being updated.",
                "operationId": "updateCustomer",
                "parameters": [
                    {
                        "name": "customer",
                        "in": "body",
                        "description": "This JSON contains all the attributes of customer to be created.",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "first_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": " This field contains account holder’s first name and will be sent on all types of detail records."
                                },
                                "last_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s last name, and will appear on all types of detail records."
                                },
                                "middle_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s middle initial and will appear on all types of detail records."
                                },
                                "date_of_birth": {
                                    "description": "Date of Birth.  ISO8601 full-date format, YYYY-MM-DD",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "ISO8601 full-date format, YYYY-MM-DD"
                                        }
                                    ]
                                },
                                "government_issued_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Provide SSN in case of Customers from US."
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "This field contains the customer’s email address within the OrbiPay  walllet."
                                },
                                "phone_number": {
                                    "description": "Home phone number of the customer",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "(908) 791-2916"
                                        }
                                    ]
                                },
                                "social_account_id": {
                                    "type": "string",
                                    "description": "id provided by the social networking sites."
                                },
                                "register_login_id": {
                                    "type": "string",
                                    "description": "Email or phone number used for login."
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "name": "PARTNER_ID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,50}$",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique partner Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "SIGNATURE_KEY",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,64}$",
                        "minLength": 0,
                        "maxLength": 64,
                        "description": "Signature key used for authentication  cli_example5852kw555"
                    },
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Id of the customer instance issued by orbipay wallet."
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Update Customer API is populated with the updated customer details as customer object.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "first_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": " This field contains account holder’s first name and will be sent on all types of detail records."
                                },
                                "last_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s last name, and will appear on all types of detail records."
                                },
                                "middle_name": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "This field contains the account holder’s middle initial and will appear on all types of detail records."
                                },
                                "date_of_birth": {
                                    "description": "Date of Birth.  ISO8601 full-date format, YYYY-MM-DD",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "format": "date",
                                            "description": "ISO8601 full-date format, YYYY-MM-DD"
                                        }
                                    ]
                                },
                                "government_issued_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Provide SSN in case of Customers from US."
                                },
                                "email": {
                                    "type": "string",
                                    "format": "email",
                                    "description": "This field contains the customer’s email address within the OrbiPay  walllet."
                                },
                                "phone_number": {
                                    "description": "Home phone number of the customer",
                                    "allOf": [
                                        {
                                            "type": "string",
                                            "minLength": 4,
                                            "maxLength": 20,
                                            "example": "(908) 791-2916"
                                        }
                                    ]
                                },
                                "social_account_id": {
                                    "type": "string",
                                    "description": "id provided by the social networking sites."
                                },
                                "register_login_id": {
                                    "type": "string",
                                    "description": "Email or phone number used for login."
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Wallet Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string",
                                    "example": "error_field"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customers/{ID_CUSTOMER}/bankAccounts": {
            "post": {
                "tags": [
                    "Bank Account"
                ],
                "summary": "Add Bank Account",
                "description": "This API is used to add a bank account for the customer. The bank account is available for cashout. An exhaustive set of account types are supported as bank accounts as indicated in the field account_subtype. ABA routing number is mandatory for bank accounts. ",
                "operationId": "addBankAccount",
                "parameters": [
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Id of the customer instance issued by orbipay wallet."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "This JSON contains all the attributes of bank account to be added to customer.",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "account_number",
                                "currency_code3d"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9_]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Id is a unique identifier assigned to the account in OrbiPay-wallet.",
                                    "example": "act_exmaple5l595g5vm"
                                },
                                "customer_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "aba_routing_number": {
                                    "type": "string",
                                    "minLength": 0,
                                    "maxLength": 9,
                                    "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                    "example": "031201360"
                                },
                                "account_issuing_institution_name": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9,]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "example": "TD BANK, NA"
                                },
                                "account_number": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{3,32}$",
                                    "minLength": 3,
                                    "maxLength": 32,
                                    "description": "Account Number field is expected to be a unique field for the accounts in OrbiPay-Wallet.",
                                    "example": "4124939999999990"
                                },
                                "currency_code3d": {
                                    "type": "string",
                                    "pattern": "^[A-Za-z]{3}$",
                                    "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                    "example": "USD"
                                },
                                "account_subtype": {
                                    "type": "string",
                                    "enum": [
                                        "savings",
                                        "checking",
                                        "money_market"
                                    ],
                                    "description": "Account Sub Type indicates the sub type of a funding account.",
                                    "example": "savings"
                                },
                                "account_holder_name": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "example": "Will Smith"
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "name": "PARTNER_ID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,50}$",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique partner Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "SIGNATURE_KEY",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,64}$",
                        "minLength": 0,
                        "maxLength": 64,
                        "description": "Signature key used for authentication  cli_example5852kw555"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to add Bank Account API is populated with the account id issued by OrbiPay-Wallet for the customer bank account.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "account_number",
                                "currency_code3d"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9_]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Id is a unique identifier assigned to the account in OrbiPay-wallet.",
                                    "example": "act_exmaple5l595g5vm"
                                },
                                "customer_id": {
                                    "type": "string",
                                    "pattern": "[a-z0-9]{0,50}",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Unique ID assigned by the Orbipay Wallet to the customer."
                                },
                                "aba_routing_number": {
                                    "type": "string",
                                    "minLength": 0,
                                    "maxLength": 9,
                                    "description": "ABA Routing Number is mandatory for Bank Accounts.",
                                    "example": "031201360"
                                },
                                "account_issuing_institution_name": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9,]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "example": "TD BANK, NA"
                                },
                                "account_number": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{3,32}$",
                                    "minLength": 3,
                                    "maxLength": 32,
                                    "description": "Account Number field is expected to be a unique field for the accounts in OrbiPay-Wallet.",
                                    "example": "4124939999999990"
                                },
                                "currency_code3d": {
                                    "type": "string",
                                    "pattern": "^[A-Za-z]{3}$",
                                    "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                    "example": "USD"
                                },
                                "account_subtype": {
                                    "type": "string",
                                    "enum": [
                                        "savings",
                                        "checking",
                                        "money_market"
                                    ],
                                    "description": "Account Sub Type indicates the sub type of a funding account.",
                                    "example": "savings"
                                },
                                "account_holder_name": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "example": "Will Smith"
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "402": {
                        "description": "The request was unacceptable, often due to missing a required parameter.",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "404": {
                        "description": "The requested resource doesn't exist."
                    },
                    "500": {
                        "description": "Something went wrong at the Orbipay-Wallet Server",
                        "schema": {
                            "type": "object",
                            "properties": {
                                "errors": {
                                    "type": "array",
                                    "items": {
                                        "type": "object",
                                        "required": [
                                            "code",
                                            "message"
                                        ],
                                        "properties": {
                                            "code": {
                                                "type": "string",
                                                "example": "error_field"
                                            },
                                            "message": {
                                                "type": "string"
                                            },
                                            "field": {
                                                "type": "string",
                                                "description": "Name of the invalid parameter."
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    },
                    "default": {
                        "description": "unexpected error",
                        "schema": {
                            "type": "object",
                            "required": [
                                "code",
                                "message"
                            ],
                            "properties": {
                                "code": {
                                    "type": "string",
                                    "example": "error_field"
                                },
                                "message": {
                                    "type": "string"
                                },
                                "field": {
                                    "type": "string",
                                    "description": "Name of the invalid parameter."
                                }
                            }
                        }
                    }
                }
            }
        },
        "/customers/{ID_CUSTOMER}/cards": {
            "post": {
                "tags": [
                    "Card"
                ],
                "summary": "Add Card",
                "description": "This API is used to add a card of a customer. The card is available for servicing the customer for cashIn. An exhaustive set of account types are supported as as accounts as indicated in the field account_subtype. Expiry date, address fields and Card CVV are required for card accounts.",
                "operationId": "addCard",
                "parameters": [
                    {
                        "name": "ID_CUSTOMER",
                        "in": "path",
                        "required": true,
                        "type": "string",
                        "pattern": "[a-z0-9]{0,50}",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Id of the customer instance issued by orbipay wallet."
                    },
                    {
                        "name": "body",
                        "in": "body",
                        "description": "This JSON contains all the attributes of Card account to be added to customer.",
                        "required": true,
                        "schema": {
                            "type": "object",
                            "required": [
                                "currency_code3d",
                                "card_number"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9_]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Id is a unique identifier assigned to the account in OrbiPay-wallet.",
                                    "example": "act_exmaple5l595g5vm"
                                },
                                "card_number": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{3,32}$",
                                    "minLength": 3,
                                    "maxLength": 32,
                                    "description": "card Number field is expected to be a unique field for the accounts in OrbiPay-Wallet.",
                                    "example": "4124939999999990"
                                },
                                "currency_code3d": {
                                    "type": "string",
                                    "pattern": "^[A-Za-z]{3}$",
                                    "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                    "example": "USD"
                                },
                                "account_subtype": {
                                    "type": "string",
                                    "enum": [
                                        "visa_credit",
                                        "mastercard_credit",
                                        "american_express_credit",
                                        "discover_credit",
                                        "visa_debit",
                                        "mastercard_debit",
                                        "discover_debit"
                                    ],
                                    "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                    "example": "visa_credit"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "pattern": "^[0-9/]{5,7}$",
                                    "minLength": 5,
                                    "maxLength": 7,
                                    "description": "Expiry date of the account is of format mm/yy",
                                    "example": "11/29"
                                },
                                "card_cvv_number": {
                                    "type": "string",
                                    "pattern": "^[0-9]{3,4}$",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "description": "Card CVV/CVV2 number is conditional and needs to be passed when adding or editing a Card as a funding account.",
                                    "example": "123"
                                },
                                "name_on_card": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "example": "Will Smith"
                                },
                                "address": {
                                    "type": "object",
                                    "required": [
                                        "address_line1",
                                        "address_city",
                                        "address_state",
                                        "address_country",
                                        "address_zip1"
                                    ],
                                    "properties": {
                                        "address_line1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_line2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,50}",
                                            "minLength": 0,
                                            "maxLength": 50
                                        },
                                        "address_city": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_state": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,20}",
                                            "minLength": 0,
                                            "maxLength": 20
                                        },
                                        "address_country": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,3}",
                                            "minLength": 0,
                                            "maxLength": 3,
                                            "description": "The 3 digit ISO country code."
                                        },
                                        "address_zip1": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        },
                                        "address_zip2": {
                                            "type": "string",
                                            "pattern": "[a-z0-9]{0,10}",
                                            "minLength": 0,
                                            "maxLength": 10
                                        }
                                    }
                                }
                            }
                        }
                    },
                    {
                        "name": "PARTNER_ID",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,50}$",
                        "minLength": 0,
                        "maxLength": 50,
                        "description": "Unique partner Identifier, for example  cli_example5852kw555"
                    },
                    {
                        "name": "SIGNATURE_KEY",
                        "in": "header",
                        "required": true,
                        "type": "string",
                        "pattern": "^[a-zA-Z0-9]{0,64}$",
                        "minLength": 0,
                        "maxLength": 64,
                        "description": "Signature key used for authentication  cli_example5852kw555"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Response to Add Card API is populated with the Identifiers issued by OrbiPay-Wallet for the Card Accounts.",
                        "schema": {
                            "type": "object",
                            "required": [
                                "currency_code3d",
                                "card_number"
                            ],
                            "properties": {
                                "id": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9_]{0,50}$",
                                    "minLength": 0,
                                    "maxLength": 50,
                                    "description": "Id is a unique identifier assigned to the account in OrbiPay-wallet.",
                                    "example": "act_exmaple5l595g5vm"
                                },
                                "card_number": {
                                    "type": "string",
                                    "pattern": "^[a-zA-Z0-9]{3,32}$",
                                    "minLength": 3,
                                    "maxLength": 32,
                                    "description": "card Number field is expected to be a unique field for the accounts in OrbiPay-Wallet.",
                                    "example": "4124939999999990"
                                },
                                "currency_code3d": {
                                    "type": "string",
                                    "pattern": "^[A-Za-z]{3}$",
                                    "description": "3 character ISO currency code should be provided in currencyCode3d field default to USD.",
                                    "example": "USD"
                                },
                                "account_subtype": {
                                    "type": "string",
                                    "enum": [
                                        "visa_credit",
                                        "mastercard_credit",
                                        "american_express_credit",
                                        "discover_credit",
                                        "visa_debit",
                                        "mastercard_debit",
                                        "discover_debit"
                                    ],
                                    "description": "'Account Sub Type indicates the sub type of a funding account.'",
                                    "example": "visa_credit"
                                },
                                "expiry_date": {
                                    "type": "string",
                                    "pattern": "^[0-9/]{5,7}$",
                                    "minLength": 5,
                                    "maxLength": 7,
                                    "description": "Expiry date of the account is of format mm/yy",
                                    "example": "11/29"
                                },
                                "card_cvv_number": {
                                    "type": "string",
                                    "pattern": "^[0-9]{3,4}$",
                                    "minLength": 3,
                                    "maxLength": 4,
                                    "description": "Card CVV/CVV2 number is conditional and needs to be passed when adding or editing a Card as a funding account.",
                                    "example": "123"
                                },
                                "name_on_card": {
[...]
